.main-container {
  background-image: url('../../../../public/images/milky-way-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: 'center';
  color: white !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-subContainer {
  padding: 20px;
  margin: auto;
  width: 300px;
}

.text-field {
  width: 100%;
  margin-bottom: 15px;
}

.new-account {
  margin-top: 15px;
  align-items: center;
  display: flex;
}

.new-account h6 {
  margin-right: 10px;
}

.new-account button {
  color: #fff;
  width: 100px;
  text-transform: none;
}

.join-us {
  margin: -44px 16px 8px;
  padding: 24px;
  text-align: center;
  opacity: 1;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  color: rgb(52, 71, 103);
  border-radius: 0.5rem;
}